.task{
    width: 660px;
    margin-top: 20px;
    padding:25px 20px;
    font-weight: 300;
    align-items: center;
    display:flex;
    border-radius: 15px;
    background-color: #F9F6FF;
}

.complete-circle{
    height:15px;
    width:15px;
    border-radius: 100%;
    margin-right: 30px;
}

.task-name{
    flex-basis: 80%;
    color:grey;
    background-color:#F9F6FF;
}

.task-name > span{
    background-color: #EDE8FB;
    color: #876BE5;
    padding:3px 5px;
    margin-left: 3px;
    margin-right: 3px;
}